version: '3.8'

services:
  backend:
    build:
      context: ../backend/backend
      dockerfile: Dockerfile
    image: backend:v2.0
    volumes:
      - data_volume:/app
    networks:
      - app-network
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ../frontend/frontend
      dockerfile: Dockerfile
    image: frontend:v2.0
    ports:
      - "3000:3000"
    networks:
      - app-network
    restart: always
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000

volumes:
  data_volume:

networks:
  app-network:
    driver: bridge
