version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend_container
    image: backend:v2.0
    volumes:
      - ./data:/app/data
    ports:
      - "8000:8000"
    restart: always
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend_container
    image: frontend:v2.0
    ports:
      - "5173:5173"
    restart: always
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000