services:
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    container_name: backend_container
    volumes:
      - ./data:/app/data
    ports:
      - "8000:8000"
    restart: always
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    container_name: frontend_container
    ports:
      - "5173:5173"
    restart: always
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000